{% extends 'registration/base.html' %}
{% block title %}
<title> Reset Password </title>
{% endblock %}

{% block content %}
  <div class="wrapper">
      <h2>Reset Password</h2>
      <h3 class="alert-heading">Welcome {{request.user.username}}</h3>
      <form method="post" action="">
          <div class="input-box">
              {% csrf_token %}
              {{ form.as_p }}
          </div>
          <div class="input-box button">
            <input type="Submit" value="Submit">
          </div>
          <div class="text">
              <h3>Go Profile <a href="{% url 'profile' %}">Profile</a></h3>
              <h3>Go Login <a href="{% url 'login' %}">Login</a></h3>
          </div>
          <div class="text">
              <h3><a href="{% url 'index' %}">Homepage</a></h3>
        </div>
      </form>
  </div>
{% endblock %}