{% extends 'registration/base.html' %}

{% block title %}
<title>Change Password</title>
{% endblock %}

{% block content %}
  <div class="wrapper">
      <h2>Change Password</h2>
      <form>
          <div class="text">
              <h3>Password Changed Successfully !!! </h3>
          <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="360" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
          </div>
          <div class="text">
              <h3>Go Profile <a href="{% url 'profile' %}">Profile</a></h3>
              <h3>Go Login <a href="{% url 'login' %}">Login</a></h3>
          </div>
          <div class="text">
              <h3><a href="{% url 'index' %}">Homepage</a></h3>
          </div>
      </form>
  </div>
{% endblock %}