{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% block title_content %}
    {% endblock %}


    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="{% static 'homepage/img/favicon.ico' %}" rel="icon">

    {% block cssblock %}
    {% endblock %}

</head>
<body>
 {% include 'product/navbar.html' %}

 {% block content %}
 {% endblock %}


 {% include 'product/footer.html' %}

 {% block jsblock %}
 {% endblock %}
</body>
</html>